# Ignore all node_modules in any subfolder
**/node_modules
**/.env
**/dist



# 🐍 Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🧪 Virtual environment
venv/
env/
.venv/


# 🧪 Pytest / coverage
.pytest_cache/
.coverage
htmlcov/